* {
    font-family: Helvetica, Arial;
}

#root {
    background: linear-gradient(#fca84e, #fc99b5);
    display: flex;
    justify-content: center;
    color: white;
}

#header {
    position: fixed;
}

form {
    margin: 10px;
    padding: 20px;
    background-color: peachpuff;
    color: gray;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#locationForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30vw;
    height: 51vw;
}

#submitButton {
    margin-top: 5px;
    padding: 10px;
    color: white;
    background-color: hotpink;
    border: none;
    border-radius: 10px;
}

.inputField {
    margin: 5px;
}
